<div id="<%= dom_id papa %>">
  <p>
    <strong>Name:</strong>
    <%= papa.name %>
  </p>

  <p>
  <strong>image:</strong>
  <% if @papa.image.attached? %>
  <%= image_tag papa.image %>
  <% end %> 
</p>

</div>
